@()

<div class="footer">
    <div class="container">
        <div class="col-md-3 grid_4">
            <h3>关于我们</h3>
            <p>感谢大家对本馆的使用，如果大家有什么建议可以联系我们的管理员或者直接在首页进行反馈，我们将慎重考虑大家的意见</p>
            <ul class="social-nav icons_2 clearfix">
                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="facebook"> <i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
        <div class="col-md-3 grid_4">
            <h3>其他图书馆</h3>
            <ul class="footer_list">
                <li><a href="#">-吉首大学图书馆 </a></li>
                <li><a href="#">- 中山大学图书馆</a></li>
                <li><a href="#">- 北京大学图书馆</a></li>
                <li><a href="#">- 清华大学图书馆</a></li>
                <li><a href="#">- 浙江大学图书馆</a></li>
            </ul>
        </div>
        <div class="col-md-3 grid_4">
            <h3>联系我们</h3>
            <address>
                <span>黄老师</span>
                <br>
                <abbr>手机号码 : </abbr> 18797537398
                <br>
                <abbr>邮箱 : </abbr> <a href="mailto@@example.com">13221312@@</a>
                <br><br>
                <span>馆长</span>
                <br>
                <abbr>手机号码 : </abbr> 18797537398
                <br>
                <abbr>邮箱 : </abbr> <a href="mailto@@example.com">13221312@@</a>
            </address>
        </div>
        <div class="col-md-3 grid_4">
            <h3>工作时间</h3>
            <table class="table_working_hours">
                <tbody>
                    <tr class="opened_1">
                        <td class="day_label">星期一</td>
                        <td class="day_value">19:00 am - 22.00 pm</td>
                    </tr>
                    <tr class="opened">
                        <td class="day_label">星期二</td>
                        <td class="day_value">19:00 am - 22.00 pm</td>
                    </tr>
                    <tr class="opened">
                        <td class="day_label">星期三</td>
                        <td class="day_value">19:00 am - 22.00 pm</td>
                    </tr>
                    <tr class="opened">
                        <td class="day_label">星期四</td>
                        <td class="day_value">19:00 am - 22.00 pm</td>
                    </tr>
                    <tr class="opened">
                        <td class="day_label">星期五</td>
                        <td class="day_value">19:00 am - 22.00 pm</td>
                    </tr>
                    <tr class="closed">
                        <td class="day_label">星期日</td>
                        <td class="day_value">09:00 am - 22.00 pm</td>
                    </tr>
                </tbody>
            </table>
        </div>
            <!--<div class="clearfix"></div>
        <div class="copy">
            <p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank"
                                                                         href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
            </p>
        </div>-->
    </div>
</div>