@()

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <!--<a class="navbar-brand" href="index.html">JSUCCW LIBRARY</a>-->
            <img src="@routes.Assets.at("images/logo.png")" alt="创新创业工作室图书馆" class="img-responsive"
            style="height: 50px;
                width: 250px;
                margin-top: 5px">
        </div>
            <!--/.navbar-header-->
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="@routes.User.login()"><i class="fa fa-user"></i><span>登录</span></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                    class="fa fa-list"></i><span>资源</span></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                    class="fa fa-globe"></i><span>反馈</span></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                    class="fa fa-search"></i><span>搜索</span></a>
                    <ul class="dropdown-menu search-form">
                        <form>
                            <input type="text" class="search-text" name="s" placeholder="Search...">
                            <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
                        </form>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
        <!--/.navbar-collapse-->
</nav>
<nav class="navbar nav_bottom" role="navigation">
    <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header nav_2">
            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
            data-target="#bs-megadropdown-tabs">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
            <ul class="nav navbar-nav nav_1">
                <li><a href="@routes.User.index()">首页</a></li>
                <li><a href="@routes.User.introduce()">本馆概况</a></li>
                <li><a href="@routes.User.readerService()">读者服务</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">本馆通知<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="terms.html">工作动态</a></li>
                        <li><a href="shortcodes.html">公告通知</a></li>
                        <li><a href="faq.html">新书通报</a></li>
                        <li><a href="faq.html">读者荐购</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">本馆服务<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="terms.html">图书续借</a></li>
                        <li><a href="shortcodes.html">学长学姐有话说</a></li>
                        <li><a href="faq.html">留言板</a></li>
                        <li><a href="faq.html">方向推荐</a></li>
                        <li><a href="faq.html">学长学姐联系</a></li>
                        <li><a href="faq.html">爱心图书捐赠</a></li>
                    </ul>
                </li>
                <li><a href="BuyBook.html">购书指南</a></li>
                <li><a href="WorkRoom.html">创新创业工作室</a></li>
                <li><a href="blog.html">其他</a></li>
                    <!--<li><a href="career.html">Career</a></li>
                <li class="last"><a href="contact.html">Contacts</a></li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>